html,body
{
    margin:0;
    padding:0;
    background: url("images/black.jpeg") no-repeat;
    background-size: 100%;
    z-index: -1100;
}

#Dark_hp
{
    background: url("images/black.jpeg") no-repeat;
    background-size: 100%;
}

*{
    font-family: 'Jost', sans-serif;
}

*{
    font-family: 'Bebas Neue', cursive;
}
.background
{
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 80%;
    filter: blur(40px);
}

.blur
{
    width: 49.9%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
    mix-blend-mode: soft-light ;
}

.box2
{
    display: inline-block;
}

.nav ul
{
    width: 50%;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin: 0; /*shown in orange on safari element inspector EXTERN*/
    padding-top: 30px; /*shown in green on safari element inspector INTERN*/
    padding-left: 0;
}

.list
{
    list-style-type: none; /* removes dots from list array */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.list a
{
    text-decoration: none; /*removes underline*/
    color: white;
    margin: 0;
    padding: 5px;
    font-family: 'Jost', sans-serif;
    font-size: 1.3vw;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list a:hover
{
    background: white;
    color: black;
    border-radius: 15px;
    box-shadow: 0 0 20px white,
    0 0 50px white,
    0 0 200px white;
    transition: 0.25s;
}

.image
{
    height: 4vw;
    width: 4vw;
    border-radius: 50px;
    z-index: 11;
    border: 1px solid white;
}

h1
{
    font-family: 'Bebas Neue', cursive;
    font-size: 10vw;
    letter-spacing: -3px;
    line-height: 80%;
    color: white;
    position: absolute;
    left: 5vw;
    top: 3vw;
}

p
{
    font-family: 'Jost', sans-serif;
    font-size: 1.2vw;
    color: white;
    position: absolute;
    top: 36vw;
    left: 5.2vw;
}

.contact
{
    font-family: 'Jost', sans-serif;
    font-size: 1.3vw;
    color: white;
    height: 40px;
    width: 50%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
}

.contact_btn
{
    font-family: 'Jost', sans-serif;
    font-size: 1.3vw;
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 20px;
    letter-spacing: 1px;
    background: linear-gradient(to right, rgb(10, 157, 216), rgb(140, 68, 198), rgb(209, 0, 76));
    border-radius: 20px;
}

.contact_btn:hover
{
    background: linear-gradient(to right, rgb(10, 157, 216), rgb(140, 68, 198), rgb(209, 0, 76));
    box-shadow: 0 0 20px white,
    0 0 50px white,
    0 0 200px white;
    transition: 0.3s;
}